# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Données volumineuses et modèles
data/
*.csv
*.tsv
*.h5
*.pkl
*.pt
*.pth
*.onnx

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
